// window
$large: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

$min_w: 330px;


// colors
$white: #fff;
$black: #222;
$yellow: #EFCC1E;
$gray: #626055;
$red: #D30812;

// theme 
$mainBG: $white;
$mainText: $black;
$mainDecor: $yellow;
$secondary: $gray;
$danger: $red;